body{
    width: 100vw;
    margin: 0; 
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
}
.game-title{
    margin-left: 35%;
}
.story-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.story-title1{
    font-size: larger;
    margin-top: 10%;
    margin-left: 39%;
    background-size: 5px;
}
.story {
    font-size: 1.2rem;
    line-height: 2.2rem;
    background-color: #D9D9D9;
    display: none;
}
.word {
    font-family: Caveat, cursive;
    font-size: 1.8rem;
    text-decoration: underline;
}
.container{
    background: #D9D9D9;
    margin: 30px auto;
    padding: 30px 20px;
    width: 85%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.50));
}
form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.form-control{
    height: 35px;
    width: 45%;
    padding: 10px;
    display: flex;
    align-items: center;
}
.form-control label{
    flex: 2;
}
.form-control input {
    flex: 3;
    height: 30px;
    background: #FBFBFB;
    border: 1px solid #000000;
    border-radius: 3px;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 25px;
    width: 443px;
    height: 55px;
    padding-top: 20px;
}
button{
    width: 209px;
    height: 55px;
    background: #328EFA;
    border-radius: 15px;
    font-size: 1.2rem;
}
.footer{
    align-self: end;
}