/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');

/* 
* Begin styling for html native elements
*/

* {
	box-sizing: border-box;
	font-family: 'IBM Plex Mono';
	font-weight: 300;
	margin: 0;
	padding: 0;
}

a {
	color: black;
	text-decoration: none;
}


h1 {
	font-family: Inter;
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.2rem;
}

body {
	min-height: 100vh;
	background-color: rgb(255, 255, 255);
	background-image: linear-gradient(rgb(255, 255, 255), 95%, rgb(80, 231, 168));
}

button {
	cursor: pointer;
	font-size: 1.4rem;
}

input {
	font-size: 1.2rem;
}

label {
	font-size: 1.2rem;
}

/* 
* End styling for html native element
* Begin Styling for Home layout & global navigation
*/

.wrapper {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.logo {
	height: 100px;
	text-align: center;
}

.nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 20px;
}

.nav-bar a {
	font-size: 1.5rem;
}

.nav-bar h1 {
	cursor: pointer;
}

.header {
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.flex-menu {
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.buttons {
	background-color: rgb(255, 255, 255, 0);
	border: none;
	font-size: 2rem;
	padding: 10px 40px;
	transition-duration: 0.4s;
}

.play:hover {
	background-color: rgb(255, 182, 47);
	color: white;
}

.instructions:hover {
	background-color: rgb(97, 213, 252);
	color: white;
}

.ourteam:hover {
	background-color: rgb(152, 0, 255);
	color: white;
}

.github:hover {
	background-color: rgb(80, 231, 168);
	color: white;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 40px 20px;
	font-size: 1rem;
}

/* 
* End styling for html static elements
* Begin styling for responsive design
*/

@media (max-width: 700px) {
	.nav-bar {
		display: grid;
		justify-content: space-between;
	}

	.nav-bar h1 {
		text-align: center;
	}

	.nav-bar div {
		grid-column-start: 1;
		grid-column-end: 5;
		padding-bottom: 20px;
	}
}
